body {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
    text-align: center;
}

.container {
    /* overflow: auto; */
    text-align: center;
    /* display: inline-grid; */
}

/* h2 {
    text-align: center;
}

.graph {
    padding-left: 20%;
    padding-right: 25%;
}

label {
    text-align: center;
    width: 25%;
    float: left;
}

select {
    margin-left: 1%;
    width: 50%;
    float: left;
    border-color: black;
}

button {
    margin-left: 1%;
    padding: 1px;
    text-align: center;
    width: 10%;
    float: left;
    background-color: gray;
    border-width: 0;
    border-radius: 100%;
} */